# Carpetas de Unity que no se deben subir
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

# Archivos de proyecto de Visual Studio / IDE
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Archivos de Android / iOS / compilación
*.apk
*.aab
*.xcodeproj
*.xcworkspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db